<div class="web-projects-wrap">
  <h1 class="main-title">Our projects</h1>
  <div class="content" *ngIf="!loading">
    <img class="project-poster" *ngFor="let photo of photos" [src]="photo.urls.small" alt="">
  </div>
  <h2 class="main-title loading-title" *ngIf="loading">Loading...</h2>
  <app-pagination *ngIf="!loading && numberOfPages > 1"
                  [currentPage]="currentPage"
                  [numberOfPages]="numberOfPages"
                  (changePageEmitter)="getPhotos($event)"></app-pagination>
</div>
