.projects-wrapper {
  background-color: #bab6b6;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.content {
  max-width: 900px;
  margin-top: 60px;
}
.title {
  text-align: center;
}
.description {
  text-align: justify;
}
