@font-face {
  font-family: 'Dosis';
  src: url('assets/fonts/Dosis/Dosis-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Dosis';
  src: url('assets/fonts/Dosis/Dosis-Bold.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Dosis';
  src: url('assets/fonts/Dosis/Dosis-Light.ttf');
  font-weight: 300;
}
